<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Istmo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="top-bar sticky" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">ISTMO Outrigger</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
<!--         <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a href="#">Work</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>

          <li>
            <a href="https://www.facebook.com/istmooutrigger/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/istmooutrigger"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>

          <!-- <li class="active"><a href="#">Purchase</a></li> -->
        </ul>
      </section>
    </nav>

    <%= yield %>

    <!-- footer -->

    <footer class="marketing-site-footer">
      <div class="row medium-unstack">
        <div class="medium-4 columns">
          <h4 class="marketing-site-footer-name">Yeti Snowcone</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
          <ul class="menu marketing-site-footer-menu-social simple">
            <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="medium-4 columns">
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>100 W Rincon<br>San Francisco, CA 94015</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>1 (800) 555-5555</p>
          </div>
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p>yetirules@fakeemail.com</p>
          </div>
        </div>
        <div class="medium-4 columns">
          <h4 class="marketing-site-footer-title">Instagram</h4>
          <div class="row small-up-3">
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
            <div class="column column-block">
              <img src="https://placehold.it/75" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="marketing-site-footer-bottom">
        <div class="row large-unstack align-middle">
          <div class="column">
            <p>&copy; 2017 No rights reserved</p>
          </div>
          <div class="column">
            <ul class="menu marketing-site-footer-bottom-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
