<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Istmo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="top-bar sticky" data-topbar role="navigation" >
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">ISTMO Outrigger</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
<!--         <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a href="#">Work</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>

          <!-- <li class="active"><a href="#">Purchase</a></li> -->
        </ul>
      </section>
    </nav>

    <%= yield %>
  </body>
</html>
